@model AM.ApplicationCore.domain.Flight
<div>
	<dl class="row">
		<dt>nombre de passangers</dt>
		<dl>@Model.ListTicket.Count()</dl>
		<dt>Type Avion</dt>
		<dl>@Model.MyPlane.PlaneType</dl>
		<dt>Capacity avion</dt>
		<dl>@Model.MyPlane.Capacity</dl>









	</dl>




</div>